

<div class="container">
  <h1>New Event</h1>
  <%= form_with model: @event do |form| %>
  <div class="row">
    <div class="col-6 ">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div >
      <div class="form-check ">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Private Event
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_area :location, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :start_date_option %>
        <%= form.datetime_local_field :start_date %>
        <button class="btn btn-primary">Add Date</button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label>Invite Your Guests</label>
      <select class="custom-select" multiple>
      <% @guests.each do |guest| %>
        <option selected><%=guest.name %> <%=guest.last_name  %></option>
      <% end  %>
    </select>
    <button class="btn btn-primary top-buffer offset-9  ">Invite Guest </button>
    </div>

  </div>
  <div class="row top-buffer">
    <div class="col-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-2">
      <%= form.submit "Create Event", class: ["btn", "btn-primary"] %>

    </div>
    <div class="col-2 offset-3">
      <%= link_to 'Back', events_path,class:["btn","btn-secondary"] %>
    </div>
  </div>
  <% end %>
</div>






